/*@import url(//db.onlinewebfonts.com/c/7cc6719bd5f0310be3150ba33418e72e?family=Comic+Sans+MS);*/

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #392559;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img {
  top: 35vh;
  position: relative;
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: auto;
  max-height: 25rem;
}

.container {
  position: relative;
  top: 25vh;
  left: 22%;
}

#text1 {
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 1.75em;
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  -webkit-background-clip: text;
  color: transparent;
}
