body, html {
	height: 100%;
	margin: 0;
	font-family: 'Indie Flower', cursive;
	}

* {
	box-sizing: border-box;
}

.bg-image {
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: auto;
}

.img1 { background-image: url("img/2.jpg"); }
.img2 { background-image: url("img/9.png"); }
.img3 { background-image: url("img/4.jpg"); }
.img4 { background-image: url("img/3.jpg"); }
.img5 { background-image: url("img/1.jpg"); }
.img6 { background-image: url("img/8.jpg"); }
.img7 { background-image: url("img/7.jpg"); }
.img8 { background-image: url("img/10.jpg"); }
.img9 { background-image: url("img/5.jpg"); }
.img10 { background-image: url("img/6.png"); }

.bg-text {
	background-color: rgb(0, 0, 0); /* Fallback Color */
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	border: 7px solid #f1f1f1;
	font-size: 7vw;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 300px;
	padding: 20px;
	height: 250px;
	text-align: center;
	border-radius: 2px;
}

.bg-text2 {
	color: white;
	font-size: 4vw;
	position: fixed;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	text-align: center;
}

.topnav {
	background-color: rgba(51, 51, 51, 0.6);
	overflow: hidden;
	top: 0;
	position: fixed;
	width: 50%;
	left: 25%;
	top: 1%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 7px;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 10px 14px;
	text-decoration: none;
	font-size: 17px;
	width: 25%;
	font-size: 23px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: plum;
	color: white;
}

.topnav .icon {
	display: none;
}

/*Custom Scrollbar*/
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #ddd;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb {
	background: #666;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/*Custom Selection Color*/
::-moz-selection { /*For Mozilla Firefox*/
	color: white;
	background: #808080;
}

::selection {
	color: white;
	background: #808080;
}
